// base
$font-family: 'PublicSans', sans-serif;
$second-family: 'LibreBaskerville', serif;
$content-width: 1440px;
$container-offset: 65px;
$container-width: calc($content-width + ($container-offset * 2));
$offset: 30px;

//sizes
$main-size: 12px;
$second-size: 14px;
$small-size: 10px;
$title-size: 100px;
$subtitle-size: 20px;

// colors
$dark-color: #040a0a;
$light-color: #fff;
